.adminTitle {
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  margin-top: 20px;
  background-color: #FF0000;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

@media (min-width: 1600px) {
  .adminTitle {
    margin-top: 40px;
  }
}

.sub-menu {
  padding-left: 25px;
  margin-top: 5px;
}

.sub-menu li {
  list-style: none;
}

.sub-menu li a {
  display: block;
  padding: 8px 10px;
  font-size: 14px;
  color: #6c757d;
}

.sub-menu li.active a {
  color: #1967d2;
  font-weight: 600;
}
